/*Reglas
selectores
declaraciones
propiedades
valores
*/
/*Selector de Etiqueta*/
header{
    background-color: #1d252c;
    color: white;
}
li a{
    color: white;
    text-decoration: none;
}
.principal{
    background-color: #1d252c;
    background-image: url("../img/hero.jpg");
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Fjalla One', sans-serif;
}

h1{
    line-height: 1.5;
    font-size: 40px;
    letter-spacing: -.2px;
    font-weight: normal;
    color: white;
}
h1 strong{
    color:#026fff;
}

.project{
    border: 1px solid gray;
    border-radius: 10px;
}


.projects-details{
    width: 500px;
}
.projecto-image-container{
    width: 500px;
}
.Principal{
    height: 300px;
}