/*Reglas
selectores
declaraciones
propiedades
valores
*/
/*Selector de Etiqueta*/
/* header{
    background: cyan;
    color: red;
} */
/*Selector Descendente*/
/* .link */

/*Selector de ID*/
/* #portafolio */

body{
    font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Fjalla One', sans-serif;
}

h1{
    line-height: 1.5;
    font-size: 40px;
    letter-spacing: -.2px;
    font-weight: normal;
}