.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

li a{
    color: white;
    text-decoration: none;
}
.principal{
    height: 300px;
    background-color: #1d252c;
    background-image: url("../img/hero.jpg");
    background-size: 450px 250px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
}
ol,ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Fjalla One', sans-serif;
}

h1{
    line-height: 1.5;
    font-size: 40px;
    letter-spacing: -.2px;
    font-weight: normal;
    color: white;
    margin: 0px;
}
h1 strong{
    color:#026fff;
}

.portfolio{
    background-color: #fafafa;
    padding: 20px;
}
.project{
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    margin: 0px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}
.project-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}
.project-course, .project-url, .project-course{
    margin: 10px 0;
}
.project-description{
    font-size: 15px;
}
.project strong{
    font-family: 'Source Sans Pro', sans-serif;

}


.projects-details{
    width: 500px;
}
.projecto-image-container{
    width: 500px;
}
.Principal{
    height: 300px;
}


/* Pruebas con FlexBox */

.flexbox{
    display: flex;
    flex-wrap: wrap;   
}
.box{
    border: 1px red solid;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    
}

figure {
    margin: 0;
}

.header ol {
    display: flex;
}

.Menu { /* .menu hereda de .header */
    height: inherit;
  }
  
  .header ol { /* .header ol hereda de .menu */
    display: flex;
    height: inherit;
  }
  
  .header ol li { /* .header ol li hereda de .header ol */
    height: inherit;
  }
  
  .header a { /* .header a hereda de .header ol li */
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  .footer{
      background-color: #1b2127;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .footer img{
      vertical-align: middle;
  }
  .footer a{
      color:white
  }

  .event-list{
      display: flex;
  }
.event{
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    margin: 10px;
    width: 480px;
    background: #f4fbff;
}
.event img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}
.event-detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: left;
}
.event-title{
    text-align: center;
}
.event-url{
    color: #056fff;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}
.even-list-title{
    margin-left: 20px;
}